<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <CdnSettings>
      <website-us>
        <!-- true/false -->
        <Enabled>true</Enabled>
        <LiveDatabase>webtarget</LiveDatabase>
        <CdnPath>http://s3.amazonaws.com/us/</CdnPath>
      </website-us>
       <website-uk>
        <!-- true/false -->
        <<Enabled>true</Enabled>
        <LiveDatabase>webtarget</LiveDatabase>
        <CdnPath>http://s3.amazonaws.com/uk/</CdnPath>
      </website-uk>
      <website-fr>
        <!-- true/false -->
        <Enabled>true</Enabled>
        <LiveDatabase>webtarget</LiveDatabase>
        <CdnPath>http://s3.amazonaws.com/fr/</CdnPath>
      </website-fr>
    </CdnSettings>
  </sitecore>
</configuration>




